.carrito{
    background-color: rgb(6, 95, 239);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    padding: 0.5rem;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #fdfdfd;
    
   
}